<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Adyasha Maharana
              </h1>
              <p>I recently obtained my PhD in Computer Science from UNC Chapel Hill where I was advised by <a href="http://www.cs.unc.edu/~mbansal/">Mohit Bansal</a> as a member of the <a href="https://murgelab.cs.unc.edu/">MURGe Lab</a>. My additional thesis committee members are <a href="https://anikem.github.io/">Aniruddha Kembhavi</a>, <a href="https://cs.stanford.edu/~diyiy/">Diyi Yang</a>, <a href="https://www.gedasbertasius.com/">Gedas Bertasius</a> and <a href="https://www.cs.unc.edu/~ronisen/">Roni Sengupta</a>.
              </p>
              <p>
                I have interned at <a href="https://research.snap.com/">Snap Research</a>, <a href="https://prior.allenai.org/">Allen Institute for AI (AI2)</a> and <a href="https://research.adobe.com/">Adobe Research</a>. Previously, I built information extraction pipelines for biomedical research articles at <a href="https://www.sciome.com/">Sciome</a>. I obtained my Masters from the University of Washington, Seattle, where I worked on ML solutions for public health problems at <a href="http://www.healthdata.org/">IHME</a>. I completed my undergrad at IIT Kharagpur, India.
              </p>
              <p style="text-align:center">
                <a href="mailto:adyasha@cs.unc.edu">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/adymaharana">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=1sh3MMgAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://adymaharana.github.io/pdfs/CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/adyasha-maharana/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_circle_crop.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My PhD thesis is on <a href="https://adymaharana.github.io/pdfs/thesis.pdf">Data Selection for Generalization in Unimodal and Multimodal Models</a>. How to select (<em>data pruning</em>), order (<em>curriculum learning</em>) and modify (<em>data augmentation</em>) training data to achieve better performance in deep learning models - are some of the questions I have explored in my work. I have also curated evaluation datasets for foundation models. 
              </p>
              <p>
                I am interested in understanding the role of training data and creating synthetic data for efficient learning in models.
              </p>
            </td>
          </tr>
        </table>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <center><h2 style="font-size:19px; ">Data Curation</h2></center>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'data' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.data %}
              <a href="{{post.data}}">data</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.demo %}
              <a href="{{post.demo}}">demo</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <center><h2 style="font-size:19px; ">Multimodal Models</h2></center>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'multimodal' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.data %}
              <a href="{{post.data}}">data</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.demo %}
              <a href="{{post.demo}}">demo</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <center><h2 style="font-size:19px; ">ML + Public Health</h2></center>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'health' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.data %}
              <a href="{{post.data}}">data</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.demo %}
              <a href="{{post.demo}}">demo</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Credits to <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a> for the website source code and <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a> for the Jekyll import.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

